@font-face{
  font-family: 'Lora-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Lora-Medium'),
    url('../fonts/Lora-Medium.woff2') format('woff2'),
    url('../fonts/Lora-Medium.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Monda-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Monda-Regular'),
    url('../fonts/Monda-Regular.woff2') format('woff2'),
    url('../fonts/Monda-Regular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Manrope-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Manrope-Light'),
    url('../fonts/Manrope-Light.woff2') format('woff2'),
    url('../fonts/Manrope-Light.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'Manrope-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Manrope-Regular'),
    url('../fonts/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/Manrope-Regular.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'Manrope-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Manrope-Medium'),
    url('../fonts/Manrope-Medium.woff2') format('woff2'),
    url('../fonts/Manrope-Medium.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'Manrope-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('Manrope-SemiBold'),
    url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
    url('../fonts/Manrope-SemiBold.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'Manrope-ExtraBold';
  font-weight: 800;
  font-style: normal;
  src: local('Manrope-ExtraBold'),
    url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
    url('../fonts/Manrope-ExtraBold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
}