$accent-bg: #261D3A;
$bg: #F5F5F5;
$accent-title: #261D3A;
$accent-subtitle: #777;
$title: #F5F5F5;
$subtitle: #EDEDED;

%lora-500{
  font-family: 'Lora-Medium', sans-serif;
  font-weight: 500;
}

%monda-400{
  font-family: 'Monda-Regular', sans-serif;
  font-weight: 400;
}

%manrope-300{
  font-family: 'Manrope-Light', sans-serif;
  font-weight: 300;
}
%manrope-400{
  font-family: 'Manrope-Regular', sans-serif;
  font-weight: 400;
}
%manrope-500{
  font-family: 'Manrope-Medium', sans-serif;
  font-weight: 500;
}
%manrope-600{
  font-family: 'Manrope-SemiBold', sans-serif;
  font-weight: 600;
}
%manrope-800{
  font-family: 'Manrope-ExtraBold', sans-serif;
  font-weight: 800;
}

%montserrat-400{
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}
%montserrat-500{
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}